# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Build outputs
frontend/dist/
backend/dist/

# Python
backend-python/__pycache__/
backend-python/data.db

# OS
.DS_Store
